*{
          margin: 0;
          padding: 0;
}

nav{
          background-color: #f8f8f8;
          box-shadow: 0 0 10px rgba(0,0,0,0.3);
          padding: 3rem;
          display: flex;
          gap: 2vw;
}
          
nav a{
          font-family: 'Poppins',sans-serif;
          color: blue;
          text-decoration: none;
          font-size: 2vw;
}